/* JoinCommunityPopup.css */
.popupContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
  .column{
    flex: 1; 
    padding: 10px;
  }

  input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    transition: background-color 0.2s;
    margin-right:auto;
    margin-left:auto;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  .exitButton {
    top: 10px;
    right: 10px;
    position:absolute;
  }
  .productImage {
    height: 100%;
    width: 100%;
}
.popup h2{
    text-align: center; 
    line-height: 1.5; 
}
form {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}